@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Find the recreational hot spot your looking for on the NOW!</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fishing HotS</h2>
        <p>See where the fish action is off the hook!<br />Up to the minute social media information reported on the map to show you where the fish are hitting right now! </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hunting HotS</h2>
        <p>That jerky aint gunna hunt itself!<br />See where your favorite meat snacks are on sale with up to date reports from web!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nav HotS</h2>
        <p>You cant get there from here!<br />Or maybe you can, See the latest trail updates including newly opened or discovered routes.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>